body {
    background-color: #6A4A3C;
    padding: 0;
    margin: 0;
}

.main {
    width: 45em;
    top: 0px;
    height: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em 0 2em;
    background-color: #EDC951;
}

h1 {
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    color: #00A0B0;
}

p {
    margin: 0.5em 0 0.5em 0;
}

.quote {
    margin-top: 3em;
}

blockquote {
    margin: 0;
}

.author {
    text-align: right
}

ol {
    padding: 0;
    list-style: none
}

input {
    width: 20em;
    margin-left:20em;
}

fieldset {
    width: 50%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    background-color: #CC333F;
    border: 0;
    padding: 2em;
}

textarea {
    width: 40em;
    height: 6em;
}

.submit {
    width: 5em;
}